@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Oswald:wght@500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(rgba(231, 134, 226, 0.5), rgba(44, 0, 29, 0.7)), url(../images/main-background.jpg);
}

/*Add styles to header*/
header {
    width: 100%;
    height: 150px;
    background-color: #4b0f70;
}

#logo {
    max-width: 250px;
    margin: 10px;
}

/*Add style to Main Homepage*/
#homepage-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 850px;
    margin: 2rem auto 13rem auto;
}

.homepage-info h1 {
    text-align: center;
    font-size: 200%;
    padding: 16px 0;
    color: #F49F1C;
    background-color: #4b0f70;
}

.homepage-p1 {
    font-size: 150%;
    font-weight: 800px;
    color: #fff;
    padding: 10px;
    line-height: 30px;
}

.homepage-p2 {
    font-size: 150%;
    color: #4b0f70;
    background-color: #F49F1C;
    padding: 10px;
    line-height: 30px;
}

/*Add style to the instruction/Enter Quiz buttons*/
.buttons {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.btn-class {
    width: 100%;
    padding: .4rem .8rem;
    background-color: #F49F1C;
    border: 3px solid white;
    border-radius: 50px;
    color: #4b0f70;
    font-size: 150%;
    font-weight: 600;
    cursor: pointer;
}

/*Add styles to Enter Quiz Game button*/
#lets-go {
    width: 100%;
    padding: .4rem 2rem;
    background-color: #4b0f70;
    border: 3px solid white;
    border-radius: 50px;
    color: #F49F1C;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

/*Add styles to the instruction pop up box*/
.instructions {
    display: ;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(75, 15, 112, 80%);
}

.instructions-content {
    width: 50%;
    text-align: center;
    background-color: #4b0f70;
    margin: 15% auto;
    padding: 18px;
    border: 3px solid #fff;
    border-radius: 20px;
}

.instruction-header {
    background-color: #F49F1C;
    color: #030E4F;
    font-size: 30px;
    margin-bottom: 1rem;
}

.instruction-list {
    text-align: center;
    list-style-position: inside;
    margin-bottom: 15px;
    font-size: 140%;
    font-weight: 600;
    line-height: 40px;
}

li:nth-child(5) {
    color: #F49F1C;
    list-style: none;
    font-style: italic;
    font-weight: 600;
}

/*Add styles to the Instruction close button*/
.exit {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}

.exit:hover,
.exit:focus {
    transform: scale(1.25);
    cursor: pointer;
    color: #F49F1C;
}