@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Oswald:wght@500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(rgba(231, 134, 226, 0.5), rgba(44, 0, 29, 0.7)), url(../images/main-background.jpg);
}

/*Add styles to header*/
header {
    width: 100%;
    height: 150px;
    background-color: #4b0f70;
}

#logo {
    max-width: 250px;
    margin: 10px;
}

  /*Add style to homepage*/
  #mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 870px;
    margin: 2rem auto 13rem auto;
    color: #4b0f70;
  }
