@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Oswald:wght@500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(rgba(231, 134, 226, 0.5), rgba(44, 0, 29, 0.7)), url(../images/main-background.jpg);
}

/*Add styles to header*/
header {
    width: 100%;
    height: 150px;
    background-color: #4b0f70;
}

#logo {
    max-width: 250px;
    margin: 10px;
}

  /*Add style to homepage*/
  #mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 870px;
    margin: 2rem auto 13rem auto;
    color: #4b0f70;
  }

  /*Add Style to the start screen*/
  .start-screen h1 {
    font-size: 48px;
    color: #fff;
  }

  .start-screen, .score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  #start-button,
  #restart {
    background-color: #4b0f70;
    color: #ffffff;
    border: 3px solid #ffb400;
    font-size: 30px;
    font-weight: 600;
    padding: 0.5em 1.8em;
    border-radius: 30px;
  }

  #restart {
    margin-top: 0.9em;
  }

  #display-container {
    background-color: #4b0f70;
    outline: 3px solid #ffffff;
    color: white;
    padding: 3.1em 1.8em;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
  }

  .header {
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff;
  }

  .number-of-question {
    font-size: 20px;
    font-weight: 500;
  }

  .timer-div {
    background-color: #ffffff;
    color: #4b0f70;
    width: 110px;
    font-size: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 29px;
  }

   /*Add styles to footer*/
footer {
    width: 100%;
    height: auto;
    padding-top: 10px;
    background-color: #ffb400;
    clear: both;
    position: relative;
    line-height: 30px;
    text-align: center;
  }
  
  .footer-links>li {
      display: inline;
      color: #4b0f70;
  }
  
  .footer-links i {
      font-size: 3rem;
      margin: 10px;
  }
  
  .footer-links i:hover,
  .footer-links i:focus {
      transform: scale(1.50);
      cursor: pointer;
  }

  /*Add styles to the next Question button*/
  #next-button {
    font-size: 20px;
    font-weight: 500;
    margin-top: 1.5em;
    background-color: #ffffff;
    color: #4b0f70;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
  }
  
  /*Add styles to score page*/
  #user-score {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
  }

  .question {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px
  }
  .option-div {
    font-size: 20px;
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    text-align: left;
    outline: none;
    background: #ffb400;
    border: 5px solid #ffffff;
    border-radius: 20px;
  }
  .option-div:disabled {
    color: #000000;
    cursor: not-allowed;
  }
  #next-button {
    font-size: 20px;
    font-weight: 500;
    margin-top: 1.5em;
    background-color: #ffffff;
    color: #4b0f70;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
  }
  .hide {
    display: none;
  }
  .incorrect {
    background-color: #ffdde0;
    color: #d32f2f;
    border-color: #d32f2f;
  }
  .correct {
    background-color: #e7f6d5;
    color: #689f38;
    border-color: #689f38;
  }
  #user-score {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
  }